@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-button {
    background: transparent;

    border-radius: 4px;
  }

  ::-webkit-scrollbar-track-piece {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;

    background-color: rgba(0, 0, 0, 0.2);

    border: 1px solid rgba(255, 255, 255, 0.4);
  }

  ::-webkit-scrollbar-track {
    box-shadow: transparent;
  }
}
